.season-content {
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: center;
}
.season-content-left {
   padding: 5%;
}
.season-content-right {
   padding: 5%;
}


 .ingrediens-box {
      background-color: rgba(234, 157, 80, 0.05);

      border-radius: 20px;
      padding: 5%;
      padding-bottom: 40px;
      margin: 10px;
      display: inline-block;
}
.ingrediens-text-box {
   margin-top: 5%;
   border-radius: 18px;
   padding: 7%;
   background-color: #eddbb677;
}
.ingrediens-text-box h3 {
   margin: 0;
}
.ingrediens-text-box a {
   text-decoration: none;
}
.ingrediens-text {
   margin: 5% 0 10% 0;

}

 img {
    width: 100%;
    height: auto;
    border-radius: 18px;
 }

 .ingrediens-knap {
   margin: 5px;
    background-color: #654C13;
    color: #EDDCB6;
    padding: 10px 20px;
    border-radius: 12px;
    cursor: pointer;
    transition: all 200ms ease;

 }

 .ingrediens-knap:hover {
    background-color: #3e2f0c;
    color: #EDDCB6;
 }

/*** Grid ***/

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   
}