body {
    background-color: #F7EFDE;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main {
    max-width: 1200px;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-size: 16px;
    color: #654C13;
}

h1 {
    font-size: 2.5vw;
    font-weight: bold;
     color: #654C13;
}

h2 {
    font-size: 1.3vw;
     color: #654C13;
}
h3 {
  font-size: 1vw;
   color: #654C13;
}
/*Header*/
@media (min-width: 768px) {
  

header {
  width: 100%;
  height: 15vh;
  margin: 0;
}

.header-navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  background-color: #eddcb6;
}
.saturate {
  filter: saturate(100%);
}
.nav-logo-container {
  height: 90%;
  aspect-ratio: 1/1;
}
.nav-logo img {
  height: 100%;
  width: 100%;
}
.nav-nav {
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  height: 15vh;
}
.nav-nav-link {
  text-decoration: none;
  color: white;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  color: #654c13;
}
.nav-nav-link img:hover {
  transform: scale(1.1);
  filter: saturate(100%);
}
.nav-nav-link:active{
  filter: saturate(100%);
}
.nav-nav-link img {
  height: 65px;
  transition: all 200ms ease;
  filter: saturate(20%);
}
}
/*Footer*/
footer {
  min-height: 25vh;
  background-color: #eddcb6;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  margin: 0;
  margin-top: 10vh;
  font-size: 14px;
  color: #654c13;
  line-height: 1.4;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-left {
    text-align: center;
}

.footer-right {
    display: flex;
    align-items: center;
}
#form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
input {
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
}
input:focus-visible {
    outline: 2px solid #654C13;
}
.input-label {
    margin-left: 5px;
}
input[type=submit]{
    width: 50%;
}
input[type=submit]{
    background-color: #654C13;
    border: none;
    border-radius: 5px;
    color: #eddcb6;
    cursor: pointer;
    transition: all 400ms ease;
}
input[type=submit]:hover{
    background-color: #3e2f0c;
    width: 90%;
}   
.content {
  flex-grow: 1;
  width: 100%;
  height: 15vh;
  margin: 0;
}
